[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sockets = "*"
gunicorn = "*"
gevent = "*"
gevent-websocket = "*"
flask-cors = "*"
flask-expects-json = "*"

[dev-packages]

[requires]
python_version = "3.9"
