@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <nav class="navbar navbar-dark bg-primary mb-2">
            <a href="#" class="navbar-brand">bolide</a>
            <a href="digicre.net" class="d-none d-md-inline-block" style="color: white;">Powerd by digicre.net</a>
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
